@charset "utf-8";

.title {
    height: 310px;
    background-image: url(../images/menu/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #4b3c14;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.title p {
    font-size: 14px;
    margin-top: 15px;
}

.item-list {
    width: 930px;
    max-width: 90%;
    margin: 75px auto 0;
    display:  grid;
    grid-template-columns: repeat(auto-fit, 240px);
    column-gap: 95px;
    row-gap: 70px;
    justify-content: center;
}

.item-list dl {
    margin-top: 20px;
}

.item-list dt {
    font-weight: bold;
}

.item-list dd {
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
}

.item-list .price {
    font-weight: bold;
    margin-top: 15px;
}